@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap");

body {
  font-family: "Open Sans", sans-serif;
}
#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.dashTitle {
  font-family: "Protest Riot", sans-serif;
  font-size: 60px;
}

.coralBgButton {
  background-color: #f75959;
  color: white;
  border: 0;
  border-radius: 50px;
  padding: 0.5rem;
  font-weight: 700;
  &:hover {
    background-color: #fab496;
  }
  &:focus {
    background-color: #fa8959;
  }
}

.pinkBgButton {
  background-color: #ffe0d3;
  color: black;
  border: 0;
  border-radius: 50px;
  padding: 0.5rem 1rem;
  font-weight: 700;
  &:hover {
    background-color: #fa9f78;
    color: white;
  }
  &:focus {
    background-color: #fa8959;
  }
}

.whiteBgButton {
  background-color: white;
  border-radius: 50px;
  border: solid;
  border-color: #f75959;
  padding: 0.5rem;
  font-weight: 700;
  text-decoration: none;
  color: #f75959;
  &:hover {
    background-color: #fa9f78;
    border-color: #fa9f78;
    color: white;
  }
}

.whiteBgButton.active {
  background-color: #fa9f78;
  border-color: #fa9f78;
  color: white;
}

.form-control {
  border-radius: 50px;
  padding: 0.5rem 1rem;
}

.toolsWrapper {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  gap: 2%;
  border-radius: 20px;
  padding: 10px;
  width: 90%;
  min-height: 50vh;
  h5 {
    text-align: center;
  }
}

.bigToolsWrapper {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  gap: 2%;
  border-radius: 20px;
  padding: 10px;
  width: 90%;
  h5 {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .toolsWrapper {
    width: 30%;
  }
  .bigToolsWrapper {
    width: 90%;
  }
  .kanbanContainer {
    display: flex;
    flex-direction: row;
  }
  .calendarContainer {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .kanbanContainer {
    display: flex;
    flex-direction: column;
  }
  .calendarContainer {
    display: flex;
    flex-direction: column;
    text-align: start;
  }
}

.dashboardContainer {
  height: 80vh;
  /*  width: 90vw; */
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 2%;
  overflow-x: auto;
  &::-webkit-scrollbar {
    width: 12px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #b5b2b2;
    border-radius: 6px;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
}
