@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Manrope&family=Pacifico&family=Roboto+Condensed:ital,wght@0,400;1,200&display=swap");

.dashTitle {
  font-family: "Fjalla One", sans-serif;
  font-size: 50px;
}

body {
  font-family: "Open Sans", sans-serif;
  display: flex;
  min-height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.main-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  margin-bottom: 50px;
}

.footer {
  height: 7%;
}

.coralBgButton {
  background-color: #f75959;
  color: white;
  border: 0;
  border-radius: 50px;
  padding: 0.5rem;
  font-weight: 700;
  &:hover {
    background-color: #fab496;
  }
  &:focus {
    background-color: #fa8959;
  }
}

.pinkBgButton {
  background-color: #ffe0d3;
  color: black;
  border: solid;
  border-radius: 50px;
  padding: 0.5rem 1rem;
  font-weight: 700;
  &:hover {
    background-color: #fa9f78;
    color: white;
  }
  &:focus {
    background-color: #fa8959;
  }
}

.whiteBgButton {
  background-color: white;
  border-radius: 50px;
  border: solid;
  border-color: #f75959;
  padding: 0.5rem;
  font-weight: 700;
  text-decoration: none;
  color: #f75959;
  &:hover {
    background-color: #fa9f78;
    border-color: #fa9f78;
    color: white;
  }
}

.whiteBgButton.active {
  background-color: #fa9f78;
  border-color: #fa9f78;
  color: white;
}

.pinkBg {
  background-color: #f75959;
  color: white;
}

.form-control {
  border-radius: 50px;
  padding: 0.5rem 1rem;
}

.calendarWrapper {
  max-width: 900px;
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  gap: 2%;
  height: 100%;
  h5 {
    text-align: center;
  }
}

.calendarContainer {
  border: solid 5px;
  border-radius: 10px;
  height: 95%;
  padding: 10px;
  overflow-x: auto;
  &::-webkit-scrollbar {
    width: 12px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #b5b2b2;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
}

@media (max-width: 575px) {
  .main {
    margin-bottom: 10px;
  }
  .main-wrapper {
    margin-bottom: 10px;
  }
  .calendarWrapper {
    max-width: 300px;
  }
}

.dashboardContainer {
  border-radius: 10px;
  height: 70vh;
  width: 90vw;
  padding: 20px;
  display: flex;
  gap: 2%;
  overflow-x: auto;
  &::-webkit-scrollbar {
    width: 12px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #b5b2b2;
    border-radius: 6px;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
}

.toolsWrapper {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  gap: 2%;
  height: 100%;
  max-width: 300px;
  h5 {
    text-align: center;
  }
}

.toolsContainer {
  border: solid 5px;
  border-radius: 10px;
  height: 95%;
  padding: 10px;
  overflow-x: auto;
  &::-webkit-scrollbar {
    width: 12px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 6px;
  }
  &::-webkit-scrollbar-track {
    background-color: black;
  }
}
